example.com {
  header /.well-known/matrix/* Content-Type application/json
  header /.well-known/matrix/* Access-Control-Allow-Origin *
  respond /.well-known/matrix/server `{"m.server": "example.org:443"}`
  respond /.well-known/matrix/client `{"m.homeserver":{"base_url":"https://example.org"}}`

  reverse_proxy /_matrix/* 127.0.0.1:6167

  root /* /var/www/html
  file_server
}
